* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #fff;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
}

.menu-icon {
    font-size: 1.5rem;
    display: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 3rem;
}

.text-container {
    max-width: 50%;
    text-align: left;
}

h1 {
    font-size: 17rem;
    font-weight: bold;
    color: #333;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 104px;
}

p.slogan {
    font-size: 2rem;
    color: #777;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 7px;
    margin-left: 104px;
    margin-top: 88px;
}

.seta {
    font-size: 4rem;
    color: #777;
    margin-left: 784px;
    margin-top: 10px;
}

.login {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

.texto {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #999;
    text-align: left;
}

.dog-container {
    width: 510px;
    height: 510px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola {
    width: 170%;  /* Ajusta o tamanho do círculo para 100% do container */
    height: auto;
    z-index: 1;
    margin-right: 108%;  /* Remove a margem extra */
}

.dog {
    position: absolute;
    width: 120%;  /* Ajuste para centralizar o cachorro dentro do círculo */
    z-index: 2;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: -28%;
}

.rodape {
    background-color: #f7f7f7;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}